*{
    box-sizing: border-box;
    padding:0;
}
body{
    direction: rtl;
    text-align: right;
    margin: 0;
    font-family: 'Arial (Hebrew)', Arial;
    line-height: 1px;
	
}

#header{
    width: 100%;
    height: 105px;
    position: relative;
   
    background:linear-gradient(to bottom,rgb(144,144,144) 80%, rgb(160, 160, 160) 87%, rgb(168, 168, 168)90%, rgb(170, 170, 170) );

}

.logo{
    display: block;
    width: 142px;
    height: 93px;
    position: relative;
    bottom: -40px;
   
    right: -8px;
}
#bluehome{
    margin-right: 8px;
}
    
#container{
    width:900px;
    margin:0 auto ;
 
    
   
}

.container1{
    display: inline-block;
    position: absolute;
padding: 20;
top: 20px;
left: 525px;
color:blue;
}


#serch{
    display: inline-block;
  position: relative;
  margin-top: auto;
    /* top:80px; */
    /* left:7px; */
}
a {
    text-decoration: none;
    color: #fff;
    padding-bottom: 38px;
    margin: right 10px;
    
    

}
a:hover{
    color: #005CA0 !important;
    text-decoration: underline;
}

.sep{
    color: #fff;
     margin:15px;
}
.topnav li{
     display: inline-block;
    font-size: 15px;
  font-weight: bold;
    margin-right: auto;
    margin-top: 0; 
} 
 .dropdown{
     position: relative;

 }
 .dropdowncontent{
    position: absolute;
     display: none;
     background-color: black;
     top:100%;
}
.dropdowncontent>a{

     padding: 5px;
     line-height: 15px;
}
.dropdown:hover > .dropdowncontent{
    display:block;
    
}
.dropdown:hover > .dropdowncontent{
    background-color: gray;
    margin: 0 auto;
    height: auto;
    
}
.dropdown:hover > .dropdowncontent a:hover{
    display: block;
    background-color: #bcbcbc;
    color: #005CA0 !important;
    text-decoration: underline;

}


 

 .topnav ul{
     margin: 0;
    

 }
#form{
    margin-bottom:-5px;
  
}


#fixedFooter{
    width:100%;
    height: 38px;
        position: fixed;
        z-index: 999999;
        bottom: 0px;
        background:gray;
    }
  
    .footercontainer{
        width:900px;
        margin:0 auto;
        
       
   }
    .menu li{
        display: inline-block;
        position: relative;
        font-size: 14px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 0; 
       
     color:white;
   } 

   .menu li #hesder{
	color:red  !important;
	
}

   


